In [1]:
group1 = [85, 86, 88, 75, 78, 94, 98, 79, 71, 80]
group2 = [91, 92, 93, 85, 87, 84, 82, 88, 95, 96]
group3 = [79, 78, 88, 94, 92, 85, 83, 85, 82, 81]

from scipy.stats import f_oneway

#perform one-way ANOVA
f_oneway(group1,group2,group3)

F_onewayResult(statistic=2.3575322551335636, pvalue=0.11384795345837219)

In [2]:
import pandas
# Read data, manipulate your data, select columns, basic stats, check empties.
data = pandas.read_csv("cleanedDataset.csv")
data

,Unnamed: 0,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,...,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime,Score,BMI
0,0,43783,1995-03-22,2000-01-01,2000-01-01,0.0,unknown,Male,0,22.052280,...,60.02,81.440000,In state,On Campus,Public Transit,27.0,7.0,1.0,311.200000,0.133728
1,1,20278,1995-01-01,2000-01-01,2000-01-01,0.0,Philosophy,Male,0,21.537168,...,70.19,73.270000,unknown,On Campus,Public Transit,27.0,5.0,2.0,318.160000,0.140201
2,2,20389,1994-12-31,2000-01-01,2000-01-01,0.0,unknown,Male,0,21.543264,...,71.20,84.240000,In state,unknown,Public Transit,27.0,8.0,7.0,339.050000,0.140122
3,3,22820,1994-12-01,2000-01-01,2000-01-01,0.0,business administration,Female,0,20.736082,...,55.89,73.160000,In state,On Campus,Public Transit,27.0,2.0,6.0,291.790000,0.151243
4,4,24559,1994-11-10,2000-01-01,2000-01-01,0.0,unknown,Female,1,20.552664,...,65.52,80.450000,Out of state,On Campus,Public Transit,27.0,7.0,3.0,305.880000,0.153954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,430,34021,1987-07-18,2011-08-01,2017-05-08,4.0,accounting,Female,0,20.736082,...,65.31,79.521683,In state,Off Campus,Walk,18.0,1.0,10.0,317.541683,0.151243
431,431,40697,1987-04-29,2011-08-01,2016-05-09,4.0,unknown,Male,0,20.878800,...,70.25,82.670000,In state,Off Campus,Car,26.0,6.0,15.0,330.800000,0.149182
432,432,34272,2000-01-01,2011-08-01,2016-05-09,4.0,nursing,Male,1,20.756880,...,58.16,81.870000,unknown,Off Campus,Car,29.0,6.0,10.0,306.840000,0.150940
433,433,33628,2000-01-01,2011-08-01,2017-05-08,4.0,Nursing,Female,1,21.113496,...,66.84,79.350000,In state,Off Campus,Walk,14.0,4.0,10.0,307.750000,0.145884
434,434,39298,2000-01-01,2011-08-01,2017-05-08,4.0,unknown,Female,1,20.324064,...,60.24,75.230000,In state,Off Campus,Car,27.0,2.0,10.0,288.360000,0.157437

In [3]:

from scipy.stats import f_oneway

#perform one-way ANOVA
f_oneway(data['English'], data['Reading'], data['Writing'])

F_onewayResult(statistic=29.681917110985694, pvalue=2.480508167298674e-13)

In [4]:
# This Code Converts the Exponent number to Decimal
from decimal import Decimal

def scientific_to_decimal(sci_str):
    try:
        # Convert the scientific notation string to a Decimal
        num = Decimal(sci_str)
        # Format the Decimal to a string without scientific notation
        decimal_str = format(num, 'f')
        return decimal_str
    except ValueError:
        return None

# Example usage
sci_str = "1.992136152225721e-12"
decimal_value = scientific_to_decimal(sci_str)
print(decimal_value)

0.000000000001992136152225721

In [5]:
import scipy.stats as stats
stats.ttest_ind(a=data['Writing'], b=data['English'])
#there is a difference between the mean of writing and mean of English

TtestResult(statistic=-8.017088865422284, pvalue=3.4875447688134524e-15, df=868.0)

In [6]:
# This Code Converts the Exponent number to Decimal
from decimal import Decimal

def scientific_to_decimal(sci_str):
    try:
        # Convert the scientific notation string to a Decimal
        num = Decimal(sci_str)
        # Format the Decimal to a string without scientific notation
        decimal_str = format(num, 'f')
        return decimal_str
    except ValueError:
        return None

# Example usage
sci_str = "3.7955905916649034e-14"
decimal_value = scientific_to_decimal(sci_str)
print(decimal_value)

0.000000000000037955905916649034

In [ ]:
# Does being an athlete affect a student's average study time?
athlete_study_time = data[data['Athlete'] == 'Yes']['StudyTime']
non_athlete_study_time = data[data['Athlete'] == 'No']['StudyTime']

# Perform an independent two-sample t-test
t_statistic, p_value = stats.ttest_ind(athlete_study_time.dropna(), non_athlete_study_time.dropna(), nan_policy='omit')

# Interpret the results
print(f"T-Statistic: {t_statistic}")
print(f"P-Value: {p_value}")

alpha = 0.05
if p_value < alpha:
    print("There is a significant difference in average study time between athletes and non-athletes.")
else:
    print("There is no significant difference in average study time between athletes and non-athletes.")