In [5]:
# Collaborative Filtering
import pandas
user_item_details = pandas.read_csv("file.csv")
user_item_details.head(20)

    user_id  item_id  rating  timestamp
0         0       50       5  881250949
1         0      172       5  881250949
2         0      133       1  881250949
3       196      242       3  881250949
4       186      302       3  891717742
5        22      377       1  878887116
6       244       51       2  880606923
7       166      346       1  886397596
8       298      474       4  884182806
9       115      265       2  881171488
10      253      465       5  891628467
11      305      451       3  886324817
12        6       86       3  883603013
13       62      257       2  879372434
14      286     1014       5  879781125
15      200      222       5  876042340
16      210       40       3  891035994
17      224       29       3  888104457
18      303      785       3  879485318
19      122      387       5  879270459

In [6]:
movie_details = pandas.read_csv("Movie_Id_Titles.csv")
movie_details.head(20)

    item_id                                              title
0         1                                   Toy Story (1995)
1         2                                   GoldenEye (1995)
2         3                                  Four Rooms (1995)
3         4                                  Get Shorty (1995)
4         5                                     Copycat (1995)
5         6  Shanghai Triad (Yao a yao yao dao waipo qiao) ...
6         7                              Twelve Monkeys (1995)
7         8                                        Babe (1995)
8         9                            Dead Man Walking (1995)
9        10                                 Richard III (1995)
10       11                               Seven (Se7en) (1995)
11       12                         Usual Suspects, The (1995)
12       13                            Mighty Aphrodite (1995)
13       14                                 Postino, Il (1994)
14       15                          Mr. Holland's Opus (1995)
15       16                 French Twist (Gazon maudit) (1995)
16       17                         From Dusk Till Dawn (1996)
17       18                          White Balloon, The (1995)
18       19                              Antonia's Line (1995)
19       20                          Angels and Insects (1995)

In [9]:
# merge the two datasets
data = pandas.merge(user_item_details, movie_details, on = 'item_id')
data.head(20)

,user_id,item_id,rating,timestamp,title
0,0,50,5,881250949,Star Wars (1977)
1,0,172,5,881250949,"Empire Strikes Back, The (1980)"
2,0,133,1,881250949,Gone with the Wind (1939)
3,196,242,3,881250949,Kolya (1996)
4,186,302,3,891717742,L.A. Confidential (1997)
5,22,377,1,878887116,Heavyweights (1994)
6,244,51,2,880606923,Legends of the Fall (1994)
7,166,346,1,886397596,Jackie Brown (1997)
8,298,474,4,884182806,Dr. Strangelove or: How I Learned to Stop Worr...
9,115,265,2,881171488,"Hunt for Red October, The (1990)"
10,253,465,5,891628467,"Jungle Book, The (1994)"
11,305,451,3,886324817,Grease (1978)
12,6,86,3,883603013,"Remains of the Day, The (1993)"
13,62,257,2,879372434,Men in Black (1997)
14,286,1014,5,879781125,Romy and Michele's High School Reunion (1997)
15,200,222,5,876042340,Star Trek: First Contact (1996)
16,210,40,3,891035994,"To Wong Foo, Thanks for Everything! Julie Newm..."
17,224,29,3,888104457,Batman Forever (1995)
18,303,785,3,879485318,Only You (1994)
19,122,387,5,879270459,"Age of Innocence, The (1993)"

In [14]:
# best rated movies. Find average rating per movie
data.groupby('title')['rating'].mean().sort_values(ascending=False).head(5)

title
Eye of Vichy, The (Oeil de Vichy, L') (1993)    1.0
Butterfly Kiss (1995)                           1.0
Daens (1992)                                    1.0
JLG/JLG - autoportrait de décembre (1994)       1.0
Touki Bouki (Journey of the Hyena) (1973)       1.0
Name: rating, dtype: float64

In [13]:
# worst rated movies.
# Find average rating per movie
data.groupby('title')['rating'].count().sort_values(ascending=False).tail(5)

title
Great Day in Harlem, A (1994)         1
Other Voices, Other Rooms (1997)      1
Good Morning (1971)                   1
Girls Town (1996)                     1
Á köldum klaka (Cold Fever) (1994)    1
Name: rating, dtype: int64

In [20]:
#get the number of ratings per movie
mean_ratings = pandas.DataFrame(data.groupby('title')['rating'].mean())
mean_ratings
mean_ratings['num_of_ratings'] = pandas.DataFrame(data.groupby('title')['rating'].count())
mean_ratings.head(5)

                             rating  num_of_ratings
title
'Til There Was You (1997)  2.333333               9
1-900 (1994)               2.600000               5
101 Dalmatians (1996)      2.908257             109
12 Angry Men (1957)        4.344000             125
187 (1997)                 3.024390              41

In [23]:
# Find which movie did each user rate, and what was the rating  
# -PIVOT TABLE - an interactive way to quickly summarize large amounts of data
pivot   = data.pivot_table(index = 'user_id', columns = 'title', values = 'rating')
pivot.head(5)

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# Lets correlate movies using the pivot table
# pivot - used to summarise, sort, reorganise, group, count, total or average data stored in a table
selected_movie = pivot['Godfather, The (1972)']

# find similar movies to this one based ratings
similar = pivot.corrwith(selected_movie) #calculates the Pearson correlation coefficient between the ratings of "The Godfather (1972)" and the ratings of all other movies in the pivot table
similar_df  = pandas.DataFrame(similar, columns = ['Correlations']) #creates a DataFrame named similar_df from the correlation results (similar). It adds a column named "Correlations" containing the correlation coefficients between "The Godfather" and other movies.
similar_df.sort_values('Correlations', ascending = False).head(50)

c:\Users\Sarah\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\lib\function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
c:\Users\Sarah\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\lib\function_base.py:2889: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
c:\Users\Sarah\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\lib\function_base.py:2748: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)
c:\Users\Sarah\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\lib\function_base.py:2748: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)
c:\Users\Sarah\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\lib\function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

                                                    Correlations
title
Dark City (1998)                                        1.000000
8 Seconds (1994)                                        1.000000
Talking About Sex (1994)                                1.000000
Godfather, The (1972)                                   1.000000
Old Lady Who Walked in the Sea, The (Vieille qu...      1.000000
Bye Bye, Love (1995)                                    1.000000
Locusts, The (1997)                                     1.000000
Kicked in the Head (1997)                               1.000000
Outlaw, The (1943)                                      1.000000
Beans of Egypt, Maine, The (1994)                       1.000000
Last Time I Saw Paris, The (1954)                       1.000000
Turning, The (1992)                                     1.000000
Romper Stomper (1992)                                   1.000000
Scarlet Letter, The (1926)                              1.000000
Crossfire (1947)                                        1.000000
Senseless (1998)                                        1.000000
Joy Luck Club, The (1993)                               1.000000
Maya Lin: A Strong Clear Vision (1994)                  1.000000
Children of the Revolution (1996)                       1.000000
Heavy (1995)                                            1.000000
Van, The (1996)                                         0.973329
Hearts and Minds (1996)                                 0.944911
Mina Tannenbaum (1994)                                  0.942809
Curdled (1996)                                          0.918559
Jack and Sarah (1995)                                   0.866025
Loaded (1994)                                           0.866025
Hollow Reed (1996)                                      0.852803
Palmetto (1998)                                         0.852803
Kissed (1996)                                           0.816497
Rhyme & Reason (1997)                                   0.816497
City of Industry (1997)                                 0.801486
City of Angels (1998)                                   0.774597
In the Realm of the Senses (Ai no corrida) (1976)       0.774597
Madame Butterfly (1995)                                 0.755929
Boys Life (1995)                                        0.755929
Gang Related (1997)                                     0.751041
Promesse, La (1996)                                     0.700000
Funeral, The (1996)                                     0.687463
Farinelli: il castrato (1994)                           0.685828
Godfather: Part II, The (1974)                          0.683862
Angel Baby (1995)                                       0.654654
Indian Summer (1996)                                    0.654654
Little Buddha (1993)                                    0.654654
Set It Off (1996)                                       0.652186
Safe (1995)                                             0.638915
War Room, The (1993)                                    0.625000
Bliss (1997)                                            0.612372
'Til There Was You (1997)                               0.612372
Pest, The (1997)                                        0.612372
When the Cats Away (Chacun cherche son chat) (1...      0.600000

In [30]:
# analyze movie similarity while considering the number of ratings each movie has received.
similar_df = similar_df.join(mean_ratings['num_of_ratings'])
similar_df.head(5)

ValueError: columns overlap but no suffix specified: Index(['num_of_ratings'], dtype='object')

In [31]:
# Take only the one with over 200 ratings
similar_df[similar_df['num_of_ratings'] > 200].sort_values('Correlations', ascending = False).head(20)

                                           Correlations  num_of_ratings
title
Godfather, The (1972)                          1.000000             413
Godfather: Part II, The (1974)                 0.683862             209
GoodFellas (1990)                              0.421477             226
People vs. Larry Flynt, The (1996)             0.393439             215
Apocalypse Now (1979)                          0.374378             221
Dead Man Walking (1995)                        0.360525             299
Psycho (1960)                                  0.336903             239
Field of Dreams (1989)                         0.309903             212
2001: A Space Odyssey (1968)                   0.305717             259
Amadeus (1984)                                 0.300868             276
Shining, The (1980)                            0.265851             206
Chasing Amy (1997)                             0.259994             379
Graduate, The (1967)                           0.257945             239
Leaving Las Vegas (1995)                       0.256624             298
Shawshank Redemption, The (1994)               0.256114             283
L.A. Confidential (1997)                       0.236894             297
Butch Cassidy and the Sundance Kid (1969)      0.232081             216
One Flew Over the Cuckoo's Nest (1975)         0.228989             264
Pulp Fiction (1994)                            0.227765             394
E.T. the Extra-Terrestrial (1982)              0.225779             300