In [1]:
# !pip install sqlalchemy
import pandas 
from sqlalchemy import create_engine #With sqlalchemy, you can connect to various database engines (e.g., MySQL, PostgreSQL), create and execute SQL queries, and manage database objects like tables.

# Database connection parameters
db_host = 'localhost'
db_user = 'root'
db_password = ''
db_name = 'pima'
db_port = 3306  # default MySQL port

# Create a connection string
connection_string = f'mysql+pymysql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'
# the string format should be: 'mysql+pymysql://username:password@host:port/database'

# Create an engine
engine = create_engine(connection_string)

# SQL query to fetch data
query = 'SELECT * FROM pima'

# Load data into a Pandas DataFrame
df = pandas.read_sql_query(query, engine)

# Display the DataFrame
df

   username                          password
0     admin                            123456
1  kindi123  fbef99b09f24305af5fed35559337a62
2    SarahM  97c2f98214e2a80ec3d97d7182914885
3       tim  0052069db1a0017f6a27f27e6dcbb919

In [3]:
# now you can use the table to do analysis

# lets encode the outcome column: For example, if the 'Outcome' column originally contained values 'Yes' and 'No', they might be encoded as 1 and 0, respectively.
from sklearn.preprocessing import LabelEncoder # helps with categorical data encoding. LabelEncoder is a technique for converting textual labels (e.g., categories like "cat", "dog", "bird") into numerical values. 
encoder = LabelEncoder()
df['Outcome'] = encoder.fit_transform(df['Outcome'])
df

,Children,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,0
1,1,85,66,29,0,26.6,0.351,31,1
2,8,183,64,0,0,23.3,0.672,32,0
3,1,89,66,23,94,28.1,0.167,21,1
4,0,137,40,35,168,43.1,2.288,33,0
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,1
764,2,122,70,27,0,36.8,0.340,27,1
765,5,121,72,23,112,26.2,0.245,30,1
766,1,126,60,0,0,30.1,0.349,47,0
767,1,93,70,31,0,30.4,0.315,23,1